*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
 background-color: #e3e3e3;
}
.container{
    width: 1500px;
  margin-left: auto ;
  margin-right: auto;
 
}
nav{
    background-color: #089de3;
}
nav::after{
    content: "";
    display: block;
    clear: both;
    *zoom: 1;
}
nav > a{
    color: #fff;
    font-size: 35px;
    text-decoration: none;
    padding: 10px 10px 10px 30px;
    float: left;
}
.navbar > ul{
    list-style: none;
    float: right;
}
.navbar > ul:last-child{
    padding-right: 85px;
}
.navbar > ul > li{
    display: inline-block;
    line-height: 60px;
    padding: 0px 20px;
}
.navbar > ul > li > a{
    text-decoration: none;
    font-size: 20px;
    color:#fff;
}
.navbar > ul > li:hover{
    background-color:#111;
}
.main-banner{
    height: 550px;
}
.main-banner > img{
    width: 100%;
    height: 550px;
    object-fit: cover;
}
.service{
    background-color: #fff;
}
.service h1{
    font-size: 30px;
    text-align: center;
    padding: 30px;
}
.col{
    width:466.668px;
    text-align: center;
    margin-left: 20px;
    border-right: 1px solid #bebebe;
    padding-bottom: 30px;
    float: left;
}
.col > h3{
    padding: 10px 0px;
    color: gray;
}
.col > p {
    padding-bottom: 20px;
}
.col > a {
    background-color: #089de3;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    border: 1px solid white;
    padding:5px 10px;
    border-radius:20px ;
}
.col > a:hover{
    background-color: #111111;
    border: 2px solid #111111;
}
.col:last-child{
    border: none;
}
.service::after{
    content: "";
    display: block;
    clear: both;
    *zoom: 1;
}
.customer{
    background-color: #089de3;
    min-height: 300px;
    text-align: center;
    padding: 20px;
    color: #fff;
}
.customer h1 {
    font-size: 30px;
    padding-bottom: 20px;
}
.customer img {
    border: 2px solid;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
}
.customer > p {
    font-size: 20px;
    margin: 10px 100px;
    padding-bottom: 10px;
    line-height: 25px;
    text-align: justify;
}
.customer   a {
        color: #fff;
        font-size: 17px;
        text-decoration: none;
        border: 1px solid #fff;
        padding: 5px 20px;
}
.customer a:hover{
    background-color: black;
    border: 1px solid #111111;
}
footer{
    background-color:black;
    text-align: center;
    padding: 10px;
}
footer small {
    color: #fff;
    
}
